.App {
  text-align: center;
}

.prop {
  margin-top: 20px;
  margin-left: 30px;
  background-color: #d4a8ab;
  width: 400px;

}

.usestate {
  background-color: blueviolet;
  text-align: center;
  margin-top: 30px;
}

.button {
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.avatar {
  height: 40vmin;
}

.h1 {
  text-align: center;
  background-color: rgb(255, 57, 225);
  color: rgb(0, 0, 0);
}

.p {
  text-align: center;
  color: rgb(245, 140, 3);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form {
  text-align: center;
  /* background-color: red; */
}

.form h1 {
  background-color: purple;
  height: 50px;
  width: 700px;
}

.form .body {
  background-color: whitesmoke;
  height: 240px;
  width: 700px;
  margin-left: 300px;
}
.form input{
  width: 400px;
  height:20px
}

.form button{
  width: 130px;
  height: 35px;
  border-radius: 10px;
  background-color:rosybrown ;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}